{% extends 'layouts/frontend.html.twig' %}

{% block title %}Ancozockt Status{% endblock %}

{% block content %}
<div class="h-screen dark:bg-gray-700">
    <div class="hidden absolute shadow-md right-0 top-10 z-10 bg-gray-100 dark:bg-gray-900 rounded-l-2xl p-3 md:block">
        <a class="text-gray-600 dark:text-gray-400 hover:text-gray-500 hover:dark:text-gray-300" @click="toggleTheme()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden dark:block w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="block dark:hidden w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
            </svg>
        </a>
    </div>
    <div class="pt-8">
        <div class="max-w-4xl mx-auto sm:px-6 lg:px-8" id="status-overview">
            {% include 'main/status_overview.html.twig' with {'services': services}%}
        </div>
    </div>
    {% for group in groups %}
        {% if group.publicServices | length > 0 %}
            <div class="py-5">
                <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
                    <div class="overflow-hidden shadow-md bg-gray-100 dark:bg-gray-900 rounded-xl">
                        <div class="rounded-t px-6 py-4 font-bold uppercase text-gray-700 dark:text-gray-400">
                            {{ group.name }}
                        </div>

                        {% for service in group.publicServices %}
                            <div class="p-6 border-0 border-t-2 border-gray-200 dark:border-gray-800">
                                <div class="grid grid-cols-6">
                                    <div class="col-span-5">
                                        <a href="{{ service.url }}" class="text-gray-600 dark:text-gray-400 hover:font-bold">{{ service.name }}</a>
                                    </div>
                                    <a href="{{ path('app_service_view', {'name': service.name}) }}" class="col-span-1 status-badge" x-service="{{ service.id }}">
                                        {% include 'main/status_badge.html.twig' with {'service': service} %}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% if incidents | length > 0 %}
    <div class="py-5">
        <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
           <div class="border-0 border-t-2 border-gray-200 dark:border-gray-400">
               <h1 class="py-2 text-4xl">Past Incidents </h1>
               <div class="border-l-2 mt-10">
                   {% for incident in incidents %}
                       {% include 'main/incident.html.twig' with {'incident': incident} %}
                   {% endfor %}
               </div>
           </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
