{% extends 'layouts/frontend.html.twig' %}

{% block title %}Ancozockt Status{% endblock %}

{% block content %}
<div class="h-screen dark:bg-gray-700">
    {% include 'elements/theme_toggle.html.twig' %}
    <div class="pt-8">
        <div class="max-w-4xl mx-auto sm:px-6 lg:px-8" id="status-overview">
            {% include 'main/status_overview.html.twig' with {'services': services}%}
        </div>
    </div>
    {% for group in groups %}
        {% if group.publicServices | length > 0 or is_granted('ROLE_USER') and group.services | length > 0 %}
            <div class="py-5">
                <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
                    <div class="overflow-hidden shadow-md bg-gray-100 dark:bg-gray-900 rounded-xl">
                        <div class="rounded-t px-6 py-4 font-bold uppercase text-gray-700 dark:text-gray-400">
                            {{ group.name }}
                        </div>

                        {% for service in (is_granted('ROLE_USER') ? group.services : group.publicServices) %}
                            <div class="p-6 border-0 border-t-2 border-gray-200 dark:border-gray-800">
                                <div class="grid grid-cols-6">
                                    <div class="col-span-5">
                                        <a href="{{ service.url }}" class="text-gray-600 dark:text-gray-400 hover:font-bold">{{ service.name }}</a>
                                    </div>
                                    <a href="{{ path('app_service_view', {'name': service.name}) }}" class="col-span-1 status-badge" x-service="{{ service.id }}">
                                        {% include 'main/status_badge.html.twig' with {'service': service} %}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% if incidents | length > 0 %}
    <div class="py-5">
        <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
           <div class="border-0 border-t-2 border-gray-200 dark:border-gray-400">
               <h1 class="py-2 text-4xl">Past Incidents </h1>
               <div class="border-l-2 mt-10">
                   {% for incident in incidents %}
                       {% include 'main/incident.html.twig' with {'incident': incident} %}
                   {% endfor %}
               </div>
           </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
