{{ form_start(form) }}
<label class="block text-sm">
    <span class="text-gray-700 dark:text-gray-400">Name</span>
    {{ form_widget(form.title) }}
</label>
<label class="block text-sm">
    <span class="text-gray-700 dark:text-gray-400">Message</span>
    {{ form_widget(form.message) }}
</label>

<label class="block mt-4 text-sm">
    <span class="text-gray-700 dark:text-gray-400">
      Affected Services
    </span>
    {{ form_widget(form.affected) }}
</label>

<label class="block mt-4 text-sm">
    <span class="text-gray-700 dark:text-gray-400">
      Incident Status
    </span>
    {{ form_widget(form.status) }}
</label>

<div class="mt-6">
    <button class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
        {{ button_label | default('Save') }}
    </button>
</div>
{{ form_end(form) }}
